{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container col-md-4 col-offset-4 mt-5">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					vous etes connecter en tant que
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Deconnexion</a>
				</div>
			{% endif %}
			<div class="mt-5" style="margin-top:50px" ;>
				<h1 class=" h3 mt-5 mb-5 font-weight-normal text-center">Connexion</h1>

				<div class="mb-3">
					<label for="inputEmail">e-mail</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus></div>
				<div class="mb-3">
					<label for="inputPassword">mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required></div>
			</div>


			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button class="btn btn-primary col-md-12 col-xs-12 col-lg-12 col-sm-12" type="submit">
				Connexion
			</button>
			<a class=" col-md-12 col-xs-12 col-lg-12 col-sm-12" href="{{ path('app_register') }}">vous n'avez de compte, inscrivez vous</a>

		</form>
	</div>
{% endblock %}
