{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}
{% block stylesheets %}
	<style>
		/* Centered text */
		.centered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

		}
		.contain {
			position: relative;
			text-align: center;
			color: yellow;
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container">

		<div class="contain">
			<img width="100%" height="300px" src="{{ asset('images/enfant.jpg') }}">
			<h3 class="centered">PLATEFORME DE GESTION DE PERMUTATION DU MINISTERE</h3>
		</div>

		<div class="row mt-5">
			<h1 class=" h3 mt-5 mb-5 font-weight-normal text-center">Connexion</h1>
			<div class="col-md-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam reprehenderit dolor modi alias dicta, doloribus, ratione soluta nesciunt in ipsa, reiciendis deleniti qui aperiam aut explicabo eligendi fugit temporibus doloremque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nihil omnis fuga consequuntur, asperiores animi recusandae sequi veniam itaque perspiciatis dolores alias placeat quos, illum velit reiciendis minima in voluptas.</div>
			<div class="col-md-6">
				<div class="container">

					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								vous etes connecter en tant que
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Deconnexion</a>
							</div>
						{% endif %}
						<div>

							<div class="mb-3">
								<label for="inputEmail">e-mail</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus></div>
							<div class="mb-3">
								<label for="inputPassword">mot de passe</label>
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required></div>
						</div>


						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						<button class="btn btn-primary col-md-12 col-xs-12 col-lg-12 col-sm-12" type="submit">
							Connexion
						</button>
						<a class=" col-md-12 col-xs-12 col-lg-12 col-sm-12" href="{{ path('app_register') }}">vous n'avez de compte, inscrivez vous</a>

					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
