{% extends "base.html.twig" %}


{% block body %}

	<div class="container">
		<table class="table">
			<thead>
				<tr>

					<th scope="col">Auteur</th>
					<th scope="col">Localite actuelle</th>
					<th scope="col">Localite souhaiter</th>
					<th scope="col">Imprimer</th>

				</tr>
			</thead>
			<tbody>
				{% for permutation in permutations %}
					<tr>
						<td>{{ permutation.auteur }}
							{{ permutation.auteur.prenoms }}</td>
						<td>{{ permutation.auteur.localite }}</td>
						<td>{{ permutation.destination }}</td>
						<td>
							<a class="btn btn-info" href="{{ path('permutation_print', { id: permutation.id }) }}" class="btn btn-sm btn-info">imprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
